body {
    background-image: url(../assets/imgs/fundo2.png);
    background-size: cover;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.tudo {
    width: 98vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 40%;
    height: 75%;
    background-color: #459B69;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 320px;
    margin-top: 60px;
}

.card .inicio h2 {
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 30px;
    letter-spacing: 1px;
}

.card .inicio {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.card .inicio p {
    text-align: justify;
    text-indent: 50px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.card .inicio button, .questao button {
    width: 18vw;
    height: 8vh;
    border-radius: 30px;
    font-size: 25px;
    border: none;
    color: #1F2832;
    background-color: #FAC420;
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    cursor: pointer;
}

.card .questao img {
    width: 400px;
    height: 200px;
    border-radius: 20px;
}

.card .questao {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 21px;
}

.finalizar {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 22px;
    padding: 40px;
}

.finalizar button, .card button {
    width: 18vw;
    height: 8vh;
    border-radius: 30px;
    font-size: 25px;
    border: none;
    color: #1F2832;
    background-color: #FAC420;
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    cursor: pointer;
} 

.finalizar img {
    width: 100px;
    height: 100px;
}

.ranking {
    width: 90%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    font-size: 21px;
    padding: 40px;
    line-height: 45px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: lighter;
}
