html {
    scroll-behavior: smooth;
}

body {
    background-image: url(../assets/imgs/fundo2.png);
    background-size: contain;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    display: flex;
    width: 100%;
}

.header {
    height: 70px;
    border-bottom: 2px solid #459B69;
    display: flex;
}

.header .container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: #459B69;
}

.header a {
    text-decoration: none;
    color: #1F2832;
}

.navbar {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: #1F2832;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 50px;
}

a:hover {
    color: #FAC420;
}

.navbar button {
    width: 15%;
    height: 6vh;
    border-radius: 20px;
    font-size: 16px;
    border: none;
    color: #1F2832;
    margin-left: 10px;
    background-color: #FAC420;
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
}

.container img {
    width: 160px;
    height: 100px;
    margin-top: 20px;
}

.home {
    width: 98vw;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.metricas {
    width: 40vw;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.metricas .card {
    width: 35vw;
    height: 18vh;
    border: solid 3px #FAC420;
    border-radius: 20px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.metricas .card h2 {
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    font-size: 22px;
    padding-top: 20px;
}

.metricas button {
    width: 70%;
    height: 8vh;
    border-radius: 30px;
    font-size: 25px;
    border: none;
    color: #1F2832;
    background-color: #FAC420;
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    margin-top: 30px;
    margin-left: 80px;
    cursor: pointer;
}

.forum {
    width: 40vw;
    height: 65vh;
}

.forum h2 {
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    font-size: 22px;
    text-align: center;
}

.forum .acompanhar {
    width: 40vw;
    height: 60vh;
    background-color: #FAC420;
}

.receitas {
    width: 98vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.receitas .titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98vw;    
}

.receitas .titulo span {
    font-size: 50px;
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    color: #1F2832;
}

.receitas button {
    color: #459B69;
    text-decoration: underline;
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    line-height: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.receitas .opcoes {
    width: 80vw;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 50px;
}

.receitas .opcoes .doces {
    width: 25vw;
    height: 67vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: solid 3px #FAC420;
    border-radius: 20px;
}

.receitas .opcoes .salgados {
    width: 25vw;
    height: 67vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: solid 3px #FAC420;
    border-radius: 20px;
}


.receitas .opcoes .salgados, .doces {
    font-size: 20px;
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    color: #1F2832;
    padding-left: 30px;
}

.receitas .opcoes .salgados h2, .doces h2{
    padding-left: 130px;
}

.descricao {
    width: 50vw;
    height: auto;
    margin-left: 220px;
    margin-bottom: 40px;
    background-color: #459B69;
    border-radius: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 400px;
}

.descricao2 {
    width: 40vw;
    height: auto;
    font-size: 19px;
    text-align: justify;
    padding: 50px;
}

a {
    text-decoration: none;
    color: #1F2832;
}
