body {
    background-image: url(../assets/imgs/fundo2.png);
    background-size: contain;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    display: flex;
    width: 100%;
}

.header {
    height: 70px;
    border-bottom: 2px solid #459B69;
    display: flex;
}

.header .container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: #459B69;
}

.header a {
    text-decoration: none;
    color: #1F2832;
}

.navbar {
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: #1F2832;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 50px;
}

.navbar button {
    width: 15%;
    height: 6vh;
    border-radius: 20px;
    font-size: 16px;
    border: none;
    color: #1F2832;
    margin-left: 10px;
    background-color: #FAC420;
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
}

.container img {
    width: 160px;
    height: 100px;
    margin-top: 20px;
}


.banner {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1F2832;
    background-image: url(../assets/imgs/banner.png);
    background-size: cover;
    z-index: -1;
}

.banner .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.overlay {
    width: 100%;
    height: 90vh;
    z-index: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.banner span {
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    color: #fff;
    padding-left: 60px;
    letter-spacing: 2px;
}

.banner p {
    font-size: 22px;
    text-align: center;
    color: #fff;
}

.imagemSlogan img {
    width: 800px;
    padding-bottom: 50px;
}

.banner .container {
    display: flex;
    flex-direction: row;
    z-index: 1;
}

.banner .slogan {
    width: 600px;
    padding-left: 100px;
}

.banner .container .imagemSlogan {
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img {
    width: 800px;
    height: 500px;
}

.contexto {
    width: 1500px;
    height: 200vh;
    color: #1F2832;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contexto .infos {
    width: 90vw;
    font-size: 21px;
    text-indent: 50px;
    text-align: justify;
    line-height: 30px;
}

.contexto .infos2 {
    width: 90vw;
   display: flex;
   justify-content: space-around;
   padding-top: 10px;
}

.contexto .infos2 .mensagem{
    width: 43vw;
    font-size: 21px;
    text-indent: 50px;
    text-align: justify;
    padding-right: 70px;
    margin-top: none;
    line-height: 30px;
}

.contexto .infos2 .curiosidade {
    width: 40vw;
    height: 45vh;
    background-image: url(../assets/imgs/curiosidade.jpg);
    background-size: cover;
    border-radius: 20px;
    font-size: 19px;
    text-align: center;
    display: flex;
    align-items: center;
    z-index: -1;
}

.contexto .infos2 .curiosidade .mensagemCuriosa {
    width: 16vw;
    padding-left: 40px;
    color: #fff;
    padding-bottom: 20px;
}

.contexto .infos2 .curiosidade .mensagemCuriosa h2 {
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px; 
}

.social {
    width: 95vw;
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.contexto .social .card {
    width: 24vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 67vh;
    text-align: center;
    font-size: 20px;
    border: solid 3px #FAC420;
    border-radius: 20px;
}

.contexto .social .card p {
    padding-left: 30px;
    padding-right: 30px;
}

.social .card img {
    width: 400px;
}

.bordas {
    width: 21vw;
    height: 50vh;
    border: solid 3px;
}

.contexto .titulo {
    width: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contexto h1 {
    font-size: 50px;
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    padding-top: 20px;
}

.geral {
    width: 98vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.dicas {
    width: 98vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dicas h1 {
    font-size: 50px;
    font-family: "Chewy", system-ui;
    font-weight: 400;
    letter-spacing: 2px;
    color: #1F2832;
}

.dicas .container {
    width: 90vw;
    height: 300vh;
    display: flex;
    flex-direction: column;
    line-height: 30px;
    font-size: 21px;
    text-align: justify;
    text-indent: 50px;
}

.diquinha {
    width: 100%;
    font-size: 21px;
}

.swiper {
    width: 800px;
    height: 300px;
    border-radius: 20px;
}

.swiper-slide {
    display: flex;
    border-radius: 20px;
    background-color: #459b69;
    padding-top: 10px;
}

.swiper-slide .diquinha {
    text-align: center;
    width: 600px;
    padding-left: 100px;
}

.swiper-slide .diquinha h2 {
    color: #fff
}

div.swiper-button-prev,
div.swiper-button-next {
    color: #1F2832;
}

.receitas {
    height: 85vh;
    width: 98vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.receitas .mensagem {
    width: 90vw;
    height: 70vh;
    border: solid 3px #FAC420;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.receitas .mensagem .imagemLivro {
    width: 40vw;
    height: 50vh;
    background-color: #459B69;
}

.receitas .mensagem .mensagenzinha {
    width: 38vw;
    height: 50vh;
    font-size: 21px;
    text-align: justify;
    text-indent: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.receitas .mensagem .mensagenzinha button {
    width: 60%;
    height: 8vh;
    border-radius: 30px;
    font-size: 25px;
    border: none;
    color: #1F2832;
    margin-left: 10px;
    background-color: #FAC420;
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
}

.sobreMim {
    height: 100vh;
    width: 98vw;
    display: flex;
    flex-direction: column;
}

.sobreMim .conjuntoSobreMim {
    width: 98vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sobreMim .conjuntoSobreMim .foto {
    width: 40vw;
    height: 53vh;
    background-color: #459B69;
    border-radius: 20px;
}

.sobreMim .conjuntoSobreMim .mensagem {
    width: 40vw;
    font-size: 21px;
    line-height: 30px;
    text-align: justify;
    text-indent: 50px;
    margin: none;
}